# Don't track content of these folders

Views/layout/images/tickets/






# Don't track these files

*.ibd
Data/genres.json
Data/movies.json
Data/users.json
Views/layout/images/cineambassador.jpg
Views/layout/images/theater-movie.jpg
Views/layout/images/cinema2.jpg
Views/layout/images/cinema3.jpg
Views/layout/images/cinema4.jpg
Views/layout/images/cinemaMark.jpg
